{# templates/formulaire/index.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}Formulaire{% endblock %}

{% block body %}
    <h1 class="text-center">Formulaire de contact</h1>
    <div class="container">

    {{ form_start(form) }}
        {{ form_row(form.fullName) }}
        {{ form_row(form.email) }}
        {{ form_row(form.subject) }}
        {{ form_row(form.message) }}
        <div class="text-center mt-3">
                    <button class="btn btn-light" type="submit">Envoyer</button>
                </div>

    {{ form_end(form) }}
    </div>
{% endblock %}
